html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
.header {
    padding-top: 6px;
    display: table;
    height: 35px;
    background: #f3f7fa;
    border-bottom: 1px solid #d8e1e8;
}
.header .left {
    margin-left: 10px;
}
.header .right {
    right: 20px;
    position: absolute;
}
.header .center {
    right: 50%;
    position: absolute;
}
.leftMenu.opened {
	display: block;
}
.leftMenu {
	user-select: none;
	display: none;
    margin-left: 20px;
    margin-right: 20px;
    width: 250px;
    border: 1px solid;
    position: absolute;
    left: 0px;
	z-index: 555;
    overflow: hidden;
}
.leftMenu .title {
    text-align: center;
}
.leftMenu .body {
	cursor: pointer;
    border: 1px solid;
    width: 240px;
    padding-left: 10px;
    left: 20px;
}
.leftMenu .bodyTargets {
    border: 1px solid;
}
.leftMenu .bodyTargets div {
    padding-left: 6px;
    padding-right: 6px;
	cursor: pointer;
    width: 240px;
    padding-left: 10px;
    left: 20px;
}
.bodyTargets .current {
	width: fit-content;
    background-color: lightcyan;
}
.map.opened {
	width: calc(100vw - 310px);
}

.map {
    float: right;
	right: 10px;
    top: 0px;
	width: calc(100vw - 20px);
    height: calc(100vh - 46px);
}

.icon {
	margin-top: 6px;
	cursor: pointer;
}
.disabled {
    opacity: 0.2;
	cursor: default;
}
.icon.sidebar::before {
	content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"/><path d="M20.083 10.5l1.202.721a.5.5 0 0 1 0 .858L12 17.65l-9.285-5.571a.5.5 0 0 1 0-.858l1.202-.721L12 15.35l8.083-4.85zm0 4.7l1.202.721a.5.5 0 0 1 0 .858l-8.77 5.262a1 1 0 0 1-1.03 0l-8.77-5.262a.5.5 0 0 1 0-.858l1.202-.721L12 20.05l8.083-4.85zM12.514 1.309l8.771 5.262a.5.5 0 0 1 0 .858L12 13 2.715 7.429a.5.5 0 0 1 0-.858l8.77-5.262a1 1 0 0 1 1.03 0z"/></svg>');
}

.icon.pause::before {
	content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"/><path d="M6 5h2v14H6V5zm10 0h2v14h-2V5z"/></svg>');
}

.icon.play::before {
	content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"/><path d="M19.376 12.416L8.777 19.482A.5.5 0 0 1 8 19.066V4.934a.5.5 0 0 1 .777-.416l10.599 7.066a.5.5 0 0 1 0 .832z"/></svg>');
}
.hidden {
	display: none;
}
.icon.ship {
    /* position: fixed; */
	margin-top: 0px;
	z-index: 555;
    position: absolute;
}

.icon.ship::before {
	content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"/><path d="M2.88 18.054a35.897 35.897 0 0 1 8.531-16.32.8.8 0 0 1 1.178 0c.166.18.304.332.413.455a35.897 35.897 0 0 1 8.118 15.865c-2.141.451-4.34.747-6.584.874l-2.089 4.178a.5.5 0 0 1-.894 0l-2.089-4.178a44.019 44.019 0 0 1-6.584-.874zM12 15a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/></svg>');
}
